#myLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 26%;
  position: relative;
  top: 20px;
}
body {
  background: linear-gradient(to left, #8942a8, #ba382f);
}
/* Nav Bar */
#navBar {
  position: sticky;
  top: 1%;
  z-index: 100;
}
.myUl {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(0, 8, 8);
  border-radius: 15px;
  padding-top: 0.2%;
  padding-left: 0.2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 90%;
}
.myUl {
  overflow: auto;
}
ul li {
  float: left;
  list-style: none;
  padding: 0.7%;
  margin: 0.4% 0.07% 0.1% 0.07%;
  /* margin: 10px 4px 10px 4px; */
}
.myUl li a {
  text-decoration: none;
  color: rgb(243, 243, 243);
  font-size: 120%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.search {
  float: right;
  color: ivory;
  padding: 1.35% 6%;
  /* padding: 22px 80px; */
  border-radius: 10px;
  padding: auto;
}
.myUl input {
  border-radius: 10px;
  border: 3px rgb(0, 0, 0);
  padding: 0.003%;
  /* padding: 3px; */
}
.myUl a:hover {
  color: rgb(153, 108, 108);
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 102%;
  border: none;
  background-color: rgba(27, 136, 136, 0);
  outline: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.568);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(0, 0, 0);
  min-width: 5%;
  /* min-width: 140px; */
  box-shadow: rgb(160, 46, 46);
  z-index: 10;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 9% 16%;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: grid;
}
/* content */
h1 {
  display: block;
  /* border: 2px solid black; */
  width: 75%;
  position: relative;
  left: 6%;
  top: 20px;
  bottom: 20px;
  font-size: 320%;
  font-family: 'Antonio';
}
#author {
  font-weight: 900;
  font-family: 'Antonio';
  position: relative;
  left: 7%;
  top: 10px;
  display: block;
  width: 12%;
}
#contentImg {
  position: relative;
  left: 18%;
  top: 20px;
  display: block;
  width: 50%;
  height: 600px;
}
#contentImg img {
  border: 2px solid black;
  border-radius: 15px;
  width: 100%;
  height: 600px;
  margin-right: auto;
  display: block;
}
#newsCont {
  position: relative;
  left: 18%;
  top: 20px;
  display: block;
  width: 50%;
  font-weight: 600;
  font-size: 150%;
  font-family: 'Padauk', sans-serif;
}

.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  /* font-size: 16px; */
  margin: 10px 2px;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  color: #ff002b;
}

#divBut {
  /* border: 3px solid blue; */
  width: 95%;
  height: 100px;
  display: block;
  margin: auto;
}
#exp1 {
  border: 2px solid blueviolet;
  position: absolute;
  width: 10%;
  right: 23%;
}
#exp2 {
  border: 2px solid blueviolet;
  position: absolute;
  width: 10%;
  left: 7.8%;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #86061bd2;
  text-decoration: none;
  cursor: pointer;
}
.anchor {
  color: rgb(0, 0, 0);
}
.anchorRead {
  color: rgb(255, 255, 255);
}

/* footer */
footer {
  height: 60%;
  font-size: 150%;
  border: 2px solid rgb(0, 0, 0);
  background-color: #000000;
  color: rgba(255, 255, 255, 0.719);
  text-shadow: #070707;
}
#anchorFoot {
  color: rgba(255, 255, 255, 0.719);
}
.about {
  display: inline-block;
  width: 23%;
  position: relative;
  bottom: 60px;
  left: 8%;
  top: 100%;
}
#contact {
  display: inline-block;
  width: 20%;
  position: relative;
  bottom: 0%;
  left: 8%;
}
.aboutS {
  display: inline-block;
  position: relative;
  top: 9%;
  left: 10%;
}
.p1 {
  /* color: aliceblue; */
  font-size: 63%;
  /* font-size: 15px; */
}
#mail {
  color: rgba(255, 255, 255, 0.774);
}
